<html>
  <head>
    <link rel='stylesheet' href='css/styles.css' />
    <script src='js/app-c.js'></script>
  </head>

  <body>
{{>header}}
    <h1> ::: {{name}}</h1>
    <img src='/img/avinoam.jpg' />
  </body>
</html>