<html>
  <head>
    <link rel='stylesheet' href='css/styles.css' />
    
  </head>

  <body>
{{>header}}
    <h1>  {{title}}</h1>
    <h2>{{name}}</h2>
    <input placeholder="Location" />
  <button>Search</button>
    {{!-- <img src='/img/avinoam.jpg' /> --}}
    <script src='js/app-c.js'></script>
  </body>
</html>